rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Transactions Collection - Standard Match
    match /transactions/{docId} {
      allow read, write: if true;
    }

    // Announced Dividends Collection - Standard Match
    match /announced_dividends/{docId} {
      allow read, write: if true;
    }
  }
}
