rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permite que a aplicação leia e escreva dados na coleção de transações.
    // Para um app de uso pessoal, isso é seguro. Em um app multi-usuário,
    // as regras seriam mais restritivas (ex: if request.auth.uid != null).
    match /transactions/{transactionId} {
      allow read, write: if true;
    }

    // Permite que a aplicação leia e escreva dados na coleção de proventos anunciados.
    match /announced_dividends/{dividendId} {
      allow read, write: if true;
    }
  }
}
